.equipments, .ingredients, .steps {
	/*background-image: linear-gradient(to right top, lightskyblue 80%, #1F2833);*/
	background-color: lightskyblue;
	color: white;
	font-size: 20px;
	margin: 20px auto;
	width: 80vw;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 0px lightgrey;
	padding: 20px auto;
}

.equipments:hover, .ingredients:hover, .steps:hover{
	background-image: linear-gradient(to left bottom, lightskyblue, #1F2833);
}

.equipments h3, .ingredients h3, .steps h3 {
	color: black;
	text-transform: uppercase;
	font-size: 32px;
}

.recipe-cards {
	padding: 5px;
}